
{%for policy in policies%}
class {{policy.get("PolicyName")}}():
    Arn = '{{policy.get("Arn")}}'

    Document = {{policy.get("Document")}}

    PolicyId = '{{policy.get("PolicyId")}}'

    UpdatedOn = '{{policy.get("UpdateDate")}}'

    PolicyName = '{{policy.get("PolicyName")}}'

{%endfor%}